In [139]:
#Series in pandas

In [140]:
import pandas as pd
data = [1, 2, 3, 4]
series1 = pd.Series(data)
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [141]:
#### changing index
data = [1, 2, 3, 4]
series2 = pd.Series(data, index = [list(range(1, 5))])
print(series2)

1    1
2    2
3    3
4    4
dtype: int64

## How to create DateFrame

In [142]:
import pandas as pd

row1 = list(range(5))
row2 = list(range(5))

dataframe = pd.DataFrame(row1, row2)
print(dataframe)

   0
0  0
1  1
2  2
3  3
4  4

In [143]:
import pandas as pd
import numpy as np
import datetime

s = pd.Series([1,3,5,np.nan,6,8])
print(s)
dates = pd.date_range('20200101', periods = 6)
print(dates)
dataf = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
print(dataf)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2020-01-01 -0.141194 -0.111419  1.093037 -0.278918
2020-01-02 -0.283028  0.834717  0.025279 -0.238083
2020-01-03 -1.077075  0.598827 -0.292092  1.386244
2020-01-04  1.757615 -0.044639  0.877234 -0.840223
2020-01-05 -0.138551  0.431071 -0.588257  0.063348
2020-01-06  1.291666  0.451833 -0.680522 -0.634393

## DataFrame USING DICTIONARIES

In [144]:
import numpy as np
import pandas as pd

df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20200101'),
                    'C': pd.Series(1, index=list(range(4)), dtype = 'float32'),
                     'D': np.array([3] * 4, dtype= 'int32'),
                     'E' : pd.Categorical(['test', 'train', 'test', 'train']), 
                     'F' : 'fo'
                   })

print(df2)
print()
print(df2.dtypes)

   A          B    C  D      E   F
0  1 2020-01-01  1.0  3   test  fo
1  1 2020-01-01  1.0  3  train  fo
2  1 2020-01-01  1.0  3   test  fo
3  1 2020-01-01  1.0  3  train  fo

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [145]:
print(dataf.tail())

                   A         B         C         D
2020-01-02 -0.283028  0.834717  0.025279 -0.238083
2020-01-03 -1.077075  0.598827 -0.292092  1.386244
2020-01-04  1.757615 -0.044639  0.877234 -0.840223
2020-01-05 -0.138551  0.431071 -0.588257  0.063348
2020-01-06  1.291666  0.451833 -0.680522 -0.634393

In [146]:
dictionary = {'Fruits' : ['apple', 'orange', 'mango'], 'color': ['red', 'yellow', 'black']}

dataframe = pd.DataFrame(dictionary)
dataframe

   Fruits   color
0   apple     red
1  orange  yellow
2   mango   black

In [147]:
series2 = pd.Series([6, 4], index = ['a', 'b'])
dataframe2 = pd.DataFrame(series2)
dataframe2

   0
a  6
b  4

In [148]:
import numpy as np
pdarray = np.array([[600 , 500], ['adam', 'smith']])
dataframe3 = pd.DataFrame({'Salary':pdarray[0], 'Name':pdarray[1]})

dataframe3

  Salary   Name
0    600   adam
1    500  smith

##How to perform a merge operations

In [149]:
import pandas as pd

player = ['player1', 'player2', 'player3']
point = [20, 32, 65]
title = ['game1', 'game2', 'game3']

gamedataframe = pd.DataFrame({'player': player, 'Points': point, "Title": title})

gamedataframe

    player  Points  Title
0  player1      20  game1
1  player2      32  game2
2  player3      65  game3

In [157]:
player = ['player1', 'player2', 'player4']
power = ['punch', 'kick', 'jump']
title = ['game1', 'game2', 'game 3']
gamedataframe2 = pd.DataFrame({'player': player, 'power': power, 'Title': title})
gamedataframe2

    player  power   Title
0  player1  punch   game1
1  player2   kick   game2
2  player4   jump  game 3

## Inner Merge

In [151]:
gamedataframe.merge(gamedataframe2, on = "Title", how = 'inner')

  player_x  Points  Title player_y  power
0  player1      20  game1  player1  punch
1  player2      32  game2  player2   kick

## Left Merge

In [156]:
gamedataframe.merge(gamedataframe2, on ="player", how = "outer")

    player  Points Title_x  power Title_y
0  player1    20.0   game1  punch   game1
1  player2    32.0   game2   kick   game2
2  player3    65.0   game3    NaN     NaN
3  player4     NaN     NaN   jump  game 3

# How to Perform join operation

In [165]:
import pandas as pd

player = ['player1', 'player5', 'player6']
power = ['punch', 'kick', 'jump']
title = ['game1', 'game5', 'game6']
gamedataframe3 = pd.DataFrame({'players' : player, 'Powers' : power, 'Titles' : title}, index = ['L1', 'L2', 'L3'])
gamedataframe3

    players  Power Titles
L1  player1  punch  game1
L2  player5   kick  game5
L3  player6   jump  game6

In [175]:
player = ['player1', 'player5', 'player6']
power = ['punch', 'kick', 'jump']
title = ['game1', 'game5', 'game6']
gamedataframe4 = pd.DataFrame({'players' : player, 'Power' : power, 'Titles' : title}, index = ['L1', 'L3', 'L4'])
gamedataframe4

    players  Power Titles
L1  player1  punch  game1
L3  player5   kick  game5
L4  player6   jump  game6

In [ ]:
#inner Join
#gamedataframe3.join(gamedataframe4, how = 'inner')