In [26]:
import pandas as pd
import numpy as np
#n = str(input("string:  "))
sets = pd.DataFrame({"Don't" : ['fly', 'dig', 32,'teleport',np.nan], 'Do' : ['walk', 'run', 23,'swim', np.nan]})
sets

      Don't    Do
0       fly  walk
1       dig   run
2        32    23
3  teleport  swim
4       NaN   NaN

In [27]:
sets = sets.rename(columns={"Don't" : "Do It !!!"})
sets

  Do It !!!    Do
0       fly  walk
1       dig   run
2        32    23
3  teleport  swim
4       NaN   NaN

In [29]:
#sets.Do =sets.Do.fillna(sets.Do.mean())
#sets

In [31]:
sets = sets.drop(columns=['Do'])

  Do It !!!
0       fly
1       dig
2        32
3  teleport
4       NaN